<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Inicio</title>
</head>
<body>
    <h1>Página de Inicio</h1>
    <p>Selecciona qué deseas ver:</p>
    <ul>
        <li><a href="/mostrar/general">Mostrar _general.csv</a></li>
        <li><a href="/mostrar/unidades">Mostrar _Unidades.csv</a></li>
        <li><a href="/mostrar/contenidos">Mostrar _contenidos.csv</a></li>
        <li><a href="/mostrar/cursos">Mostrar _CURSOS_argos.csv</a></li>
        <li><a href="/consulta">Hacer una consulta combinada</a></li>
    </ul>
</body>
</html>
